<%= render 'admin/sidemenu' %>
		<div class="col-xs-9">
			<div class="admin-item-detail-title">
				<p class="admin-item-detail">
					<h3 style="display:inline;">商品の詳細</h3>
					<span class="admin-item-detail-id">商品ID  <%= @item.id %></span>
				</p>
			</div>
			<div class="border"></div>

			<div class="admin-item-detail-content">
				<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<div class="before-songlist">
							<div class="show-head">
							<% if @total_arrival-@total_order >= 1 %>
							<div class="sales-status-box">
								<span class="sales-status"><%= @item.status %></span>
							</div>
							<% else %>
							<div class="sales-status-box-1">
								<span class="sales-status"><%= @item.status %></span>
							</div>
							<% end %>

							<div class="admin-item-edit">
								<div class="admin-iteminfo-edit">
									<%= link_to "商品を編集する", edit_admin_item_path, class:"glyphicon glyphicon-pencil" %>
								</div>
								<div class="admin-input-arrival">
									<%= link_to "入荷情報を入力する", edit_admin_arrival_path, class:"glyphicon glyphicon-pencil" %>
								</div>
							</div>
							</div>

							<div class="samuneiru-position">
								<%= attachment_image_tag @item, :image, :fill, 150, 150, format: 'jpg', fallback: "no_image.jpg" %>
							</div>

							<div class="admin-item-names">
								<span class="admin-item-name"><%= @item.name %></span><br>
								<span class="admin-item-artist"><%= @item.artist.name %></span><br>
								<span class="admin-item-release">発売日　<%= @item.release.strftime("%Y年%m月%d日") %></span><br>
								<span class="admin-item-label"><%= @item.label.name %></span><br>
							</div>

							<div class="admin-item-total-stock-box clearfix">
								<div class="category-name-box">
									<span class="category-name"><%= @item.category.name %></span>
								</div>
								<div class="stock-quantity-box">
									<% if @total_arrival-@total_order >= 1 %>
									<span class="stock-quantity">在庫有</span>
									<% else %>
									<span class="stock-quantity">在庫無</span>
									<% end %>
								</div>
								<div class="admin-item-price">
									<span class="admin-item-price-text"><%= @item.price %> 円<span class="admin-item-price-tax">（税抜）</span></span>
								</div>

								<div class="stock-quantity-detail">
									<span class="stock-quantity-detail-text">在庫数：<%= @total_arrival-@total_order %>点</span>
								</div>
							</div>
							</div>

						<div class="border-admin-item-show"></div>
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">
							<h4 class="songlist-index">収録曲一覧</h4>
							<% @disks.each do |disk| %>
							<table class="table table-hover">
								<caption>Disk<%= disk.disk_num %></caption>
								<% disk.songs.each do |song| %>
								<tbody>
									<tr>
										<td><%= song.setlist %></td>
										<td><%= song.name %></td>
									</tr>
									<% end %>
								</tbody>
								<% end %>
							</table>
						</div>

							<div class="col-xs-12">

								<div class="border-admin-item-show-review"></div>

								<div class="item-show-review-title">
								<span class="item-show-review-title-text"><%= @review.count %>件のカスタマーレビュー</span>
							</div>

								<%= paginate @reviews, class: "paginate" %>
								<% @reviews.each do |review| %>

								<table class="table table-striped table-bordered">
									<caption>投稿日: <%= review.created_at.strftime("%Y年%m月%d日") %><span class="item-show-review-user">ユーザ名: <%= review.user.last_name %>  <%= review.user.first_name %></span>
										<%= link_to "レビューの編集", edit_admin_review_path(review.id), class:"glyphicon glyphicon-pencil admin-item-show-review-edit" %>
										</caption>
								<tbody>
									<tr>
										<th width="150">評価</th>
										<td><span id="star<%= review.id %>"></span></td>
									<script>
							          $('#star<%= review.id %>').raty({
							            size: 36,
							            starOff:  '<%= asset_path('star-off.png') %>',
							            starOn : '<%= asset_path('star-on.png') %>',
							            starHalf: '<%= asset_path('star-half.png') %>',
							            half: true,
							            readOnly: true,
							            score: <%= review.rate %>,
							          });
							          </script>
									</tr>
									<tr>
										<th>タイトル</th>
										<td><%= review.title %></td>
									</tr>
									<tr>
										<th>レビュー内容</td>
										<td><%= review.body %></td>
									</tr>
									</tbody>
								</table>
								<% end %>
								<%= paginate @reviews, class: "paginate" %>
						</div>
					</div>
							 <div class="back-to-item-index">
							 <%= link_to "< 商品一覧へ", admin_items_path %>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
