<%= render 'admin/sidemenu' %>
		<div class="col-xs-9">
			<h2 class="admin-review-title">レビューの編集</h2>
			<div class="border"></div>
			<div calss="row">
				<div class="col-xs-8 col-xs-offset-2">
				<table class="table table-striped table-bordered create-review-table">
					<%= form_for(@review, url: admin_review_path(params[:id])) do |f| %>
					<tbody>
						<tr>
							<div>
							<th class="review-user-name">顧客</th>
							<td><%= @review.user.last_name %>  <%= @review.user.first_name %>  様</td>
						</tr>
						<tr>
							<div>
								<%= f.hidden_field :item_id %>
								<th class="review-valuation"><%= f.label :rate, '評価 ' %></th>
								<td class=""><span id="star"></span></td>
							</div>
						</tr>
						<tr>
							<div class="">
								<th class="review-title"><%= f.label :title, 'タイトル ' %></th>
								<td class=""><%= f.text_field :title,class:"col-xs-6" %></td>
							</div>
						</tr>
						<tr>
							<div class="">
								<td rowspan="2" class="review-table-height"><%= f.label :body, '内容 ' %></td>
								<td class="review-table-height"><%= f.text_area :body,class:"col-xs-8 review-height" %></td>
							</div>
						</tr>
						<tr>
								<td class=""style="border-top-style: hidden;"><small>＊全角２００文字以内</small></td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="col-xs-6">
				<%= f.submit '保存する', class:'btn btn-primary col-xs-4 col-xs-offset-4' %>
				<% end %>
			</div>
			<div class="col-xs-6">
				<%= link_to '削除する', admin_review_path(@review.id), method: :delete, class:'btn btn-danger col-xs-4 col-xs-offset-4' %>
			</div>
				<%= link_to(orders_path(current_user)) do %>
				<div class="col-xs-4 index-box1"><購入履歴へ戻る</div>
				<% end %>
			</div>
			<script>
          $('#star').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @review.rate %>,
          });
          </script>
		</div>