<div class="container">
  <div class="row end_user">
  <h2 class="user-title">アカウント情報の確認</h2>
    <div class="border"></div>
      <div class="col-xs-6 col-xs-offset-3">

        <div class="user-info">
          <table border="1" style="border-collapse: collapse">
              <tr>
                <th>名前（姓・名）</th>
                <td><%= @user.last_name %></td>
                <td><%= @user.first_name %></td>
              </tr>
              <tr>
                <th>名前（カナ）</th>
                <td><%= @user.last_furigana %></td>
                <td><%= @user.first_furigana %></td>
              </tr>
              <tr>
                <th>郵便番号</th>
                <td colspan="3"><%= @user.postal_code[0,3] %>-<%= @user.postal_code[4,7] %></td>
              </tr>
              <tr>
                <th>住所</th>
                <td colspan="3"><%= @user.residence %></td>
              </tr>
              <tr>
                <th>電話番号</th>
                <td colspan="3"><%= @user.phone_number %></td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td colspan="3"><%= @user.email %></td>
              </tr>
              <tr>
                <th>パスワード</th>
                <td colspan="3"><%= @user.password %></td>
              </tr>
          </table>
        </div>
      </div>


      <div class="col-xs-6 col-xs-offset-3">
        <h3>登録住所一覧</h3>
        <% if @address.present? %>
          <% @addresses.each do |address| %>
            <table>
              <tr>
                <td><%= address.name %></td>
                <td><%= address.address %></td>
              </tr>
            </table>
          <% end %>
        <% else %>
          <h6>ご登録の送付先はありません。編集ページからご登録ください。</h6>
       <% end %>
      </div>
    </div>

    <div class="row end_user text-center">
      <div class="space"></div>
        <%= link_to "編集する", edit_user_path(current_user.id), class: "btn btn-success mx-auto btn-lg" %>
    </div>


    <div class="row end_user">
      <div class="col-xs-8 col-xs-offset-2">
          <%= link_to 'マイページへ', mypage_path(current_user.id), class: "btn btn-default btn-lg" %>
        </div>
    </div>
</div>
