<div class="container">
	<h2 class="index-title">購入履歴一覧</h2>
	<div class="border"></div>
	<div class="row">
		<p class="col-xs-2 col-xs-offset-1 delivery-status"></p>
	</div>
	<div>
   	<% @orders.each do |order| %>
   	<% order.item_orders.each do |item_order|%>

	<div class="new-order-index-box col-xs-6 col-xs-offset-2">
			<div class="order-samuneiru-in-box">
			</div>
			<div class="order-box-name">
				<span class="item-box-name-text"><%= item_order.item.name %></span>
			</div>
			<div class="order-samuneiru-in-box">
				<%= attachment_image_tag item_order.item, :image, :fill, 120, 120, format: 'jpg', fallback: "no_image.jpg" %>
			</div>
			<div class="order-box-name">
				<span class="item-box-name-text"><%= item_order.order.delivery_status %></span>
			</div>
			<div class="order-box-artist">
				<span class="item-box-artist-text"><%= item_order.created_at.strftime("%Y年%m月%d日") %></span>
			</div>
			<div class="order-box-artist">
				<span class="item-box-artist-text"><%= item_order.order.order_address %></span>
			</div>
			<div class="order-box-artist">
				<span class="item-box-artist-text"><%= item_order.order.total %>(税込)</span>
			</div>
			<div class="order-box-artist">
				<span class="item-box-artist-text"><%= item_order.order.payment %></span>
			</div>
			<div class="order-box-artist">
				<span class="item-box-artist-text"><%= item_order.order.total %></span>
			</div>
			<div>
				<%= link_to(reviews_new_path(item_order.id)) do %>
				<div class="col-xs-2 col-xs-offset-3 index-box1">レビューを投稿する</div>
				<% end %>
			</div>
			</div>
	</div>
	<% end %>
	<div class="border">
	<% end %>
   </div>
   <div class="row">
	<div class="col-xs-6 col-xs-offset-3">
	 <p id="pageTop"><a href="#">ページのトップへ戻る</a></p>
	</div>
   </div>
	<div class="row">
	<script>
      $(function(){
        $('a[href^="#"]').click(function() {
          var speed = 400;
          var href= $(this).attr("href");
          var target = $(href == "#" || href == "" ? 'html' : href);
          var position = target.offset().top;
          $('body,html').animate({scrollTop:position}, speed, 'swing');
          return false;
        });
      });
    </script>
    	<%= link_to(user_path(current_user)) do %>
		<div class="col-xs-2 col-xs-offset-3 index-box1">マイページへ</div>
		<% end %>
	</div>
</div>