<div class="container">
	<h2 class="new-title">購入者情報</h2>
	<div class="border"></div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-1">
			<%= form_for (@order) do |f| %>
			<table class="new-table">

					<tr>
						<td width="50%">名前（姓・名）：</td>
						<td width="25%"><%= @user.last_name %></td>
						<td><%= @user.first_name %></td>
					</tr>
					<tr>
						<td width="60%">郵便番号　　　：<br><small>（ハイフンを除く７桁）</small></td>
						<td width="25%"><%= @user.postal_code %></td>
					</tr>
					<tr>
						<td width="60%">住所　　　　　：</td>
						<td width="25%"><%= @user.address %></td>
					</tr>
					<tr>
						<td width="60%">電話番号　　　：</td>
						<td width="25%"><%= @user.phone_number %></td>
					</tr>
			</table>
		</div>
	</div>
	<div class="border"></div>
	<h2 class="new-2title">お届け先住所変更</h2>
	<div class="border"></div>
	<div class="row">
		<div class="col-xs-11 col-xs-offset-1 credit">
			<input type="radio" name="address" value="0" required > 登録先の住所とは別の住所を使う
			<%= f.fields_for :user do |i| %>
			<table class="address-table">
				<tr>
					<td width="10%"><%= i.label :name, "・宛名(姓・名) ：" %>
					</td>
					<td class="tablemenu"><%= i.text_field :last_name, class:'col-xs-3'  %><%= i.text_field :first_name, class:'col-xs-3 col-xs-offset-1'  %></td>
				</tr>
				<tr>
					<td width="60%">住所　　　　　：</td>
					<td width="25%"><%= @user.residence %></td>
				</tr>
				<tr>
					<td width="60%">電話番号　　　：</td>
					<td width="25%"><%= @user.phone_number %></td>
				</tr>
						<%= i.hidden_field :last_name, :value => @user.last_name  %>
						<%= i.hidden_field :first_name, :value => @user.first_name   %>
						<%= i.hidden_field :last_furigana, :value => @user.last_furigana   %>
						<%= i.hidden_field :first_furigana, :value => @user.first_furigana   %>
						<%= i.hidden_field :password, :value => @user.password   %>
						<%= i.hidden_field :postal_code, :value => @user.postal_code   %>
						<%= i.hidden_field :address, :value => @user.address   %>
						<%= i.hidden_field :phone_number, :value => @user.phone_number   %>
						<%= i.hidden_field :email, :value => @user.email   %>
			</table>

			<h7>＊以前登録した住所を使う。</h7>
			<div class="registrated-address">
				<input type="radio" name="address" value="1"> @address.address
			</div>
		</div>
	</div>
	<div class="border"></div>
	<h2 class="new-2title">合計金額</h2>
	<div class="border"></div>
	<% @cart_items.each do |cart_item| %>
	<div class="new-order-index-box col-xs-6 col-xs-offset-2">
			<%= i.fields_for :item_order do |o| %>
			<%= o.hidden_field :quantity, :value => cart_item.quantity  %>
			<%= o.hidden_field :price, :value => cart_item.item.price  %>

			<div class="order-samuneiru-in-box">
				<%= attachment_image_tag cart_item.item, :image, :fill, 120, 120, format: 'jpg', fallback: "no_image.jpg" %>
			</div>
			<div class="order-box-name">
				<span class="item-box-name-text"><%= cart_item.item.name %></span>
			</div>
			<div class="order-box-artist">
				<span class="item-box-artist-text"><%= cart_item.item.artist.name %></span>
			</div>
			<div class="order-box-artist">
				<span class="item-box-artist-text"><%= cart_item.quantity %></span>
			</div>
			<div class="order-box-artist">
				<span class="item-box-artist-text"><%= cart_item.item.price %>(税込)</span>
			</div>
	</div>
	<% end %>
				<% end %>
			<% end %>
	<div class="col-xs-6 col-xs-offset-5 sum ">計</div>

		</div>
	</div>
	<div class="border"></div>
	<%= form_for (@order) do |f| %>
		<h2 class="new-2title">お支払い方法の選択</h2>
		<div class="border"></div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-1 credit">
				<div class="credit">
					<input type="radio" name="payment" value="0" onchange="entryChange1(this);"> クレジットカードでのお支払い
					<h6></h6>
				</div>
				<div class="bank-payment">
					<input type="radio" name="payment" value="1" onchange="entryChange1(this);"> 銀行でのお支払い
					<h6 class="bank_num">代金のお支払い後に商品が発送されます。なお、お支払いの際に必要となるお支払い番号は、<br>出荷準備に入り次第発行されます。</h6>
				</div>
				<div class="daibiki">
					<input type="radio" name="payment" value="2" onchange="entryChange1(this);"> 代引きでのお支払い
					<h6 class="daibiki_num">代引き手数料がかかります。</h6>
				</div>
			</div>
		</div>
		<div class="border"></div>

		<h2 class="new-2title">お届け先住所変更</h2>
		<div class="border"></div>
		<div class="row">
			<div class="col-xs-11 col-xs-offset-1 credit">
					<table class="address-table">
						<tr>
							<td><input type="radio" name="address" value="0" required >  登録先の住所とは別の住所を使う</td>
						</tr>
						<tr>
							<td width="10%"><%= f.label :name, "・宛名　　　　：" %></td>
							<td class="tablemenu"><%= f.text_field :name, class:'col-xs-7 ' %></td>
							<td></td>
						</tr>
						<tr>
							<td width="20%"><%= f.label :postal_code, "・郵便番号　　：" %><br><small>（ハイフンを除く７桁）</small></td>
							<td class="tablemenu"><%= f.text_field :postal_code, class:'col-xs-9' %></td>
							<td></td>
						</tr>
						<tr>
							<td width="20%"><%= f.label :order_address, "・住所　　　　：" %></td>
							<td class="tablemenu"><%= f.text_field :order_address, class:'col-xs-12' %></td>
							<td></td>
						</tr>
					</table>
				<h6>＊以前登録した住所を使う。</h6>
				<div class="registrated-address">
					<table>
						<tr>
							<td><input type="radio" name="address" value="1"></td>
							<td><%= @user.last_name %>  <%= @user.first_name %></td>
							<td>様</td>
						</tr>
						<tr>
							<td></td>
							<td>〒<%= @user.postal_code %></td>
							<td><%= @user.residence %></td>
						</tr>
						<% @addresses.each do |address| %>
						<tr>
							<td><input type="radio" name="address" value= "@address.id"></td>
							<td><%= address.name %></td>
							<td>様</td>
						</tr>
						<tr>
							<td></td>
							<td>〒<%= address.postal_code %></td>
							<td><%= address.address %></td>
						</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
		<div class="border"></div>

		<h2 class="new-2title">合計金額</h2>
		<div class="border"></div>
		<div class="col-xs-6 col-xs-offset-5 sum ">計</div>
			<div class="row">
				<div id="first-button">

				<div class="col-xs-4 col-xs-offset-4">
					<%= f.submit '購入する', class:'btn btn-success col-xs-12', name:"order_button" %>
				</div>
				</div>
				<%# PAY.JPのスクリプト data-keyの公開鍵は環境変数化すること %>
				<div id="second-button">
				<div class="col-xs-4 col-xs-offset-4">
					<script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_12b31b41415eafe2d52b011f">
					</script>
				</div>
				</div>
			</div>
		</div>
	<% end %>
	<div class="row">
		<%= link_to(cart_items_path) do %>
		<div class="col-xs-2 col-xs-offset-3 box1">カートへ戻る</div>
		<% end %>
		<%= link_to(items_path) do %>
		<div class="col-xs-2 col-xs-offset-2 box1">商品一覧へ</div>
		<% end %>
	</div>
</div>

<script>
$(function entryChange1(radio){
	if ( radio.value == 0 ) {
		/* クレジットカードでのお支払い
		*/
		$('#first-button').hide();
		$('#second-button').show();
	} else if ( radio.value == 1){
		/* 銀行でのお支払い
		*/
		$('#first-button').show();
		$('#second-button').hide();
	}else if (radio.value == 2){
		/* 代引きでのお支払い
		*/
		$('#first-button').show();
		$('#second-button').hide();
	}
}
</script>
