<div class="container">
	<h2 class="index-title">お問い合わせ</h2>
	<div class="border"></div>
	<div calss="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="contact-confirm-box">
				<span class="contact-confirm-text">以下の内容でよろしければ、「送信」ボタンを押してください。</span>
			</div>
			<table class="table table-striped table-bordered">
				<%= form_for (@contact) do |f| %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<tbody>
					<tr>
						<div class="field">
							<td class="contact-title-box"><%= f.label :title, 'タイトル ' %></td>
							<td class="contact-title-box-content"><%= f.text_field :title,class:"col-xs-6" %></td>
						</div>
					</tr>
					<tr>
						<div class="field">
							<td class="contact-body-box"><%= f.label :body, '内容 ' %></td>
							<td class="contact-body-box-content"><%= f.text_area :body,class:"col-xs-8 contact-height" %>
								<small>＊全角２００文字以内</small></td>
						</div>
					</tr>
				</tbody>
			</table>
			<%= f.submit '送信', class:'btn btn-success col-xs-4 col-xs-offset-4' %>
			<% end %>
		</div>
			<%= link_to(user_path(current_user)) do %>
			<div class="col-xs-2 col-xs-offset-3 index-box1">マイページへ戻る</div>
			<% end %>
	</div>
</div>

