<%= render 'admin/sidemenu' %>

<div class="container">
	<div class="row">
		<div class="col-xs-9">

			<h2 class="label-artist-category-text">レーベルの編集・削除</h2>
			<div class="border"></div>
			<div class="blank"></div>


			<div class="col-xs-6 col-xs-offset-3 label-artist-category-box">
			  <%= form_for @label, url: admin_label_path do |f| %>

			  <%= f.label :レーベル %>
			  <%= f.text_field :name, autofocus: true %>

			  <%= f.submit '保存する', class: "btn btn-primary" %>

			  <%= link_to '削除する', admin_label_path, method: :delete , "data-confirm" => "本当に消しますか？",class: 'btn btn-danger' %>

			  <% end %>
			</div>
		</div>
	</div>
</div>