<%= render 'admin/sidemenu' %>

<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<h2 class="admin-contact-title">問合せ一覧</h2>
			<div class="border"></div>
			<div class="search-box col-xs-10 col-xs-offset-1">

				<%= search_form_for @q, url: admin_contacts_path, html: {class: 'contact_sereach'} do |f| %>
				<%= f.condition_fields do |c| %>
				<%= c.attribute_fields do |a| %>
				<%= a.attribute_select associations:[:user] %>
				<% end %>
				<%= c.hidden_field :p, value: "cont_all" %>

				<%= c.value_fields do |v| %>
				<%= v.search_field :value, class:"search_field", placeholder: '検索ワードを入力' %>
				<% end %>
				<% end %>

				<span class="actions"><%= f.submit "検索", class:"btn btn-success" %></span>
			 	<% end %>


			 	<% if @contacts.any? %>
				<h5 class="search-result">検索結果<%= @contacts.count %>件</h5>


				<table class='col-xs-12 table table-hover table-inverse'>
  					<thead>
    					<tr>
      						<th><b>ID</b></th>
      						<th><b>顧客名</b></th>
      						<th><b>メールアドレス</b></th>
      						<th><b>件名</b></th>
      						<th><b>問合せ日時</b></th>
      						<th><b></b></th>
    					</tr>
  					</thead>
  					<% @contacts.each do |contact| %>
  					<tbody>
    					<tr>
      						<td><%= contact.user.id %></td>
      						<td><%= contact.user.last_name + contact.user.first_name %></td>
      						<td><%= contact.user.email %></td>
      						<td><%= contact.title %></td>
      						<td><%= contact.created_at.strftime("%Y年%m月%d日") %></td>
      						<td><%= link_to "返信", admin_contact_path(contact.id) %>
    					</tr>
    					<% end %>
  					</tbody>
				</table>
				<% else %>
			 		<h6>該当する問い合わせがありません。キーワードを変えてください。</h6>
			 	<% end %>
			</div>
		</div>
	</div>
   <div class="row">
	<div class="col-xs-6 col-xs-offset-3">
	 <p id="pageTop"><a href="#">ページのトップへ戻る</a></p>
	</div>
   </div>
</div>

