<h2 class="text">ログイン</h2>
<div class="border"></div>
<div class="blank"></div>


<div class="container">
  <div class="row blue">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="col-xs-6 col-xs-offset-3">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-auto form-control form-control-lg w-100" %>
  </div>

  <div class="col-xs-6 col-xs-offset-3">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "col-auto form-control form-control-lg w-100" %>
  </div>



  <div class="actions col-xs-2 col-xs-offset-5">
    <div class="space"></div>
    <%= f.submit "ログイン", class: "btn btn-success btn-lg" %>
 </div>
</div>
</div>
<% end %>

<div class="space"></div>

<div class="col-xs-6 col-xs-offset-5">新規登録の方は<%= link_to "こちら", new_user_registration_path  %></div>
<%= render "devise/shared/links" %>
