<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="item-detail-title">
					<h3 class="item-detail">商品の詳細</h3>
			</div>
			<div class="border-item-show"></div>



<% if user_signed_in? %>

			<div class="item-detail-content">
				<div class="row">

						<div class="col-xs-10 col-xs-offset-1">

							<div class="before-songlist">

							<div class="col-xs-3">
							<div class="user-samuneiru-position">


								<%= attachment_image_tag @item, :image, :fill, 250, 250, format: 'jpg', fallback: "no_image.jpg" %>
							</div>
							</div>

							<div class="col-xs-9">
							<div class="user-item-detail">
							<div class="user-item-names">
								<span class="user-item-name"><%= @item.name %></span>
							</div>
							<div class="user-item-artists">
								<span class="user-item-artist"><%= @item.artist.name %></span>
							</div>
							<div class="user-item-releases">
								<span class="user-item-release">発売日　<%= @item.release.strftime("%Y年%m月%d日") %></span>
							</div>
							<div class="user-item-labels">
								<span class="user-item-label"><%= @item.label.name %></span><br>
							</div>


							<div class="user-item-total-stock-box">
								<div class="user-category-name-box">
									<span class="user-category-name"><%= @item.category.name %></span>
								</div>
								<div class="user-stock-quantity-box">
									<span class="user-stock-quantity">在庫有</span>
								</div>


									<% if @favorite.favorited_by?(current_user,@item) %>
								  <li>
								    <%= link_to item_favorite_path(@item.id), method: :delete do %>
								      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>

								    <% end %>
								  </li>
								    <% else %>
								  <li>
								    <%= link_to item_favorites_path(@item.id), method: :post do %>
								      <i class="fa fa-heart-o" aria-hidden="true"></i>

								    <% end %>
								  </li>
								<% end %>


								<div class="user-item-price">
									<span class="user-item-price-text"><%= @item.price %> 円<span class="user-item-price-tax">（税込）</span></span>
								</div>

								<div class="user-item-quantity">
									<%= form_for (@cart_item), url: cart_items_path do |f| %>

									<%= f.hidden_field :user_id, :value => @user.id %>
									<%= f.hidden_field :item_id, :value => @item.id %>

									<div class="field">
										<div class="user-item-quantity-position">
										<span class="user-item-quantity-text">数量</span>
									<%= f.number_field :quantity, min:"1", class:"user-number-field" %>
									<%= f.submit "カートに入れる", class:"user-cart-in" %>
										</div>
									</div>
									<% end %>
								</div>
							</div>
							</div>
							</div>
							</div>



<% else %>

						<div class="col-xs-10 col-xs-offset-1">
							<div class="before-songlist">

							<div class="col-xs-3">
							<div class="user-samuneiru-position">
								<%= attachment_image_tag @item, :image, :fill, 250, 250, format: 'jpg', fallback: "no_image.jpg" %>
							</div>
							</div>

							<div class="col-xs-9">
							<div class="user-item-detail">
							<div class="user-item-names">
								<span class="user-item-name"><%= @item.name %></span>
							</div>
							<div class="user-item-artists">
								<span class="user-item-artist"><%= @item.artist.name %></span>
							</div>
							<div class="user-item-releases">
								<span class="user-item-release">発売日　<%= @item.release.strftime("%Y年%m月%d日") %></span>
							</div>
							<div class="user-item-labels">
								<span class="user-item-label"><%= @item.label.name %></span><br>
							</div>


							<div class="user-item-total-stock-box-before">
								<div class="user-category-name-box">
									<span class="user-category-name"><%= @item.category.name %></span>
								</div>
								<div class="user-stock-quantity-box">
									<span class="user-stock-quantity">在庫有</span>
								</div>

								<div class="user-item-price">
									<span class="user-item-price-text-before"><%= @item.price %> 円<span class="user-item-price-tax">（税込）</span></span>
								</div>

								</div>
							</div>
							</div>
							</div>
							</div>
<% end %>



						<div class="col-xs-10 col-xs-offset-1">
						
							<h4 class="songlist-index">収録曲一覧</h4>
							<% @disks.each do |disk| %>
							<table class="table table-hover">
								<caption>Disk<%= disk.disk_num %></caption>
								<% disk.songs.each do |song| %>
								<tbody>
									<tr>
										<td width="50px"><%= song.setlist %></td>
										<td><%= song.name %></td>
									</tr>
								</tbody>
								<% end %>
							</table>
							 <% end %>
							 <div class="back-to-item-index">
							 <%= link_to "< 商品一覧へ", root_path %>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
