<%= render 'admin/sidemenu' %>

<div class="container">
	<div class="row">
		<div class="col-xs-9">

			<h2 class="text">ジャンルの新規登録</h2>
			<div class="border"></div>
			<div class="blank"></div>


			  <%= form_for @category, url: admin_categories_path do |f| %>

			  <%= f.label :ジャンル %>
			  <%= f.text_field :name %>

			  <%= f.submit '登録する', class: "btn btn-primary" %>

			  <% end %>
		</div>
	</div>
</div>
