<%= render 'admin/sidemenu' %>

<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<h2 class="admin-index-title">顧客一覧</h2>
			<div class="border"></div>
			<div class="search-box col-xs-10 col-xs-offset-1">

				<%= search_form_for @search, url: admin_users_path do |f| %>
  				<%= f.search_field :last_name_or_email_cont, class:"search_field", placeholder: '検索ワードを入力' %>
  				<%= f.submit '検索' %>
				<% end %>



			 	<% if @user_result.any? %>
				<h5 class="search-result"></h5>


				<table class='col-xs-12 table table-hover table-inverse'>
  					<thead>
    					<tr>
      						<th><b>ID</b></th>
      						<th><b>顧客名</b></th>
      						<th><b>住所</b></th>
      						<th><b>メールアドレス</b></th>
    					</tr>
  					</thead>
  					<% @user_result.each do |user| %>
  					<tbody>
    					<tr>
      						<td><%= user.id %></td>
      						<td><%= link_to(admin_user_path(user)) do %>
									<div><%= user.last_name %>  <%= user.first_name %></div>
								<% end %>
							</td>
      						<td><%= user.residence %></td>
      						<td><%= user.email %></td>
    					</tr>
    					<% end %>
  					</tbody>
				</table>
				<% else %>
			 		<h6>検索する商品がありません。キーワードを変えてください。</h6>
			 	<% end %>
			</div>
		</div>
	</div>
   <div class="row">
	<div class="col-xs-6 col-xs-offset-3">
	 <p id="pageTop"><a href="#">ページのトップへ戻る</a></p>
	</div>
   </div>
</div>
