<%= render 'admin/sidemenu' %>

<div class="container">
	<h2><%= @user.last_name %>様</h2>
	<h5 class="edit_user"><%= link_to "顧客情報の編集", edit_admin_user_path(@user), class: "glyphicon glyphicon-pencil" %></h5>
	<div class="border-admin"></div>
	<div class="row">
		<div class="col-xs-6">
			<table class="table table-striped table-bordered user_show_table">
				<tbody>
					<tr>
						<div class="field">
							<th class="user_table">ID</th>
							<th class="user_table"><%= @user.id %></th>
						</div>
					</tr>
					<tr>
						<div class="field">
							<th class="user_table">名前（漢字）</th>
							<th class="user_table"><%= @user.last_name %>  <%= @user.first_name %></th>
						</div>
					</tr>
					<tr>
						<div class="field">
							<th class="user_table">名前（カナ）</th>
							<th class="user_table"><%= @user.last_furigana %><%= @user.first_furigana %></th>
						</div>
					</tr>
					<tr>
						<th class="user_table">郵便番号<br><small>(ハイフンを除く７桁)</small></th>
						<th class="user_table"><%= @user.postal_code %></th>
					</tr>
					<tr>
						<th class="user_table">住所</th>
						<th class="user_table"><%= @user.address %></th>
					</tr>
					<tr>
						<th class="user_table">電話番号</th>
						<th class="user_table"><%= @user.phone_number %></th>
					</tr>
					<tr>
						<th class="user_table">メールアドレス</th>
						<th class="user_table"><%= @user.email %></th>
					</tr>
				</tbody>
			</table>
			<%= link_to(admin_orders_path(current_user.id)) do %>
			<div class="col-xs-6 col-xs-offset-3 admin-usershow-box">受注履歴へ</div>
			<% end %>
		</div>
	</div>
</div>