<%= render 'admin/sidemenu' %>
	<div class="col-xs-9">
		<h3 class="registration-items">入荷情報入力</h3>
		<div class="border"></div>

			<div class="arrival-item">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<%= form_for (@arrival), url: admin_arrivals_path do |f| %>
							<table border="1" frame="box" class="table table-striped">
								<tbody>
									<tr>
										<div class="field">
											<th><label class="item-id">ID</label></th>
											<th><%= @item.id %></th>
											<%= f.hidden_field :item_id, :value => @item.id %>
										</div>
									</tr>
									<tr>
										<div class="field">
											<th><label class="item-name">商品名</label></th>
											<th><%= @item.name %></th>
										</div>
									</tr>
									<tr>
										<div class="field">
											<th><label class="item-status">ステータス</label></th>
											<th><%= @item.status %></th>
										</div>
									</tr>
									<tr class="must-field">
										<div class="field">
											<th><label">入荷数</label></th>
											<th><%= f.number_field :arrival_quantity, min:"1", class:"number_field" %> 個</th>
										</div>
									</tr>
									<tr class="must-field">
										<div class="field">
											<th><label>入荷日</label></th>
											<th>
												<div class="input-group date" id="date" date-target-input="nearest">
													<%= f.text_field :arrival_date, class:"form-control datetimepicker-input", data: {toggle: "datetimepicker", target: ".datetimepicker-input"}, placeholder: "YYYY/MM/DD" %>
												</div>
												<script type="text/javascript">
													$(function () {
													$(".datetimepicker-input").datetimepicker({
														format:'YYYY/MM/DD'
													});
													});
												</script>
											</th>
										</div>
									</tr>
									<tr>
										<div class="field">
											<th><label class="item-price">価格</label></th>
											<th><%= @item.price %>　円</th>
										</div>
									</tr>
									<tr>
										<div class="field">
											<th><label class="item-image">サムネイル</label></th>
											<th><%= attachment_image_tag @item, :image_id, :fill, 50, 50, format: 'jpg', fallback: "no_image.jpg" %>
											</th>
										</div>
									</tr>
									<tr>
										<div class="field">
											<th><label class="item-name">アーティスト名</label></th>
											<th><%= @item.artist.name %></th>
										</div>
									</tr>
									<tr>
										<div class="field">
											<th><label class="item-release">発売日</label></th>
											<th><%= @item.release.strftime("%Y年%m月%d日") %></th>
										</div>
									</tr>
									<tr>
										<div class="field">
											<th><label class="label">レーベル</label></th>
											<th><%= @item.label.name %></th>
										</div>
									</tr>
									<tr>
										<div class="field">
											<th><label class="category">ジャンル</label></th>
											<th><%= @item.category.name %></th>
										</div>
									</tr>
								</tbody>
							</table>

							<div class="border"></div>
								<div class="nested-fields well well-compact">
									<h4 class="songlist-index">収録曲一覧</h4>
										<% @disks.each do |disk| %>
										<table class="table table-hover">
											<caption>Disk<%= disk.disk_num %></caption>
											<% disk.songs.each do |song| %>
											<tbody>
												<tr>
													<td><%= song.setlist %></td>
													<td><%= song.name %></td>
												</tr>
											<% end %>
											</tbody>
										<% end %>
									</table>
								</div>

							<div class="row">
								<%= f.submit "入荷する", class:"col-xs-4 col-xs-offset-4 btn btn-primary" %>
							</div>
						<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
  	  	 			<%= link_to '商品一覧へ', root_path, class: "btn btn-default btn-lg" %>
  	  	 		</div>
  	  	 	</div>
	</div>
</div>

