<script src="https://kit.fontawesome.com/b1ddc8e955.js" crossorigin="anonymous"></script>
<div class="container">
<div class="row">
<header class="navbar navbar-fixed-top">
    <nav class='nav navbar-nav navbar-left' >
      <span class="col-lg-4 title">りんごCD</span>
      <i class="fas fa-apple-alt fa-2x"></i>
    </nav>
    <nav>
     <ul class="nav navbar-nav navbar-right col-lg-3">
        <!-- アドミンでログインした場合 -->
        <% if admin_signed_in? %>
        <%= link_to() do %>
        <span class="admin_user"> ショプ管理画面<br>管理者　様</span>
        <% end %>
        <%= link_to() do %>
        <span class="admin_signout"> サインアウト</span>
        <% end %>
        <!-- エンドユーザーでログインした場合 -->
        <% elsif user_signed_in?%>
        <%= link_to() do %>
        <span class="current_user"> USERさん</span>
        <% end %><br>
        <%= link_to() do %>
        <span class="home"> マイページ</span>
        <% end %>
        <%= link_to() do %>
        <span class="favorite"> お気に入り</span>
        <% end %>
        <%= link_to() do %>
        <span class="cart"> カート <i class="fas fa-shopping-cart"></i></span>
        <% end %>
        <%= link_to() do %>
        <span class="contact"> お問い合わせ</span>
        <% end %>
        <%= link_to() do %>
        <span class="signout"> サインアウト</span>
        <% end %>
        <!-- 非ログイン時 -->
      <% else %>
      <%= link_to(new_user_registration_path) do %>
        <span class="signup"> 新規登録</span>
      <% end %>
      <%= link_to(new_user_session_path) do %>
        <span class="signin"> ログイン</span>
      <% end %>
    <% end %>
     </ul>
    </nav>
  </div>
</header>
</div>
</div>
